<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>List Employees</title>
</head>
<body>
<div>
  <h2>List Employees</h2>
  <hr />
  <table>
    <thead border="1">
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Department</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="employee: ${employees}">
      <td th:text="${employee.name}"></td>
      <td th:text="${employee.email}"></td>
      <td th:text="${employee.department}"></td>
    </tr>
    </tbody>
  </table>
</div>
</body>
</html>